@model Project.Web.ViewComponents.Pagination.ViewModel
    @if (Model.totalRow > 0 && Model.lastPage > 1)
    {
        @if (Model.page != 1)
        {
            <a href="@Model.getUrl(@Model.page - 1)">
                <i class="flaticon-back"></i>
            </a>
        }
        @foreach (var number in Model.range(1, Model.lastPage))
        {
            <a href="@Model.getUrl(number)" class="@((number == @Model.page) ? "active" : "" )">@number</a>
        }
        @if (Model.page != Model.lastPage)
        {
            <a href="@Model.getUrl(@Model.page + 1)">
                <i class="flaticon-next"></i>
            </a>
        }
    }




