@model Project.Web.ViewComponents.BreadcrumbViewModel

<div class="breadcrumb">
    <div class="container">
        @if (Model.thirdPathName == null)
        {
            <h1>@Model.secondPathName</h1>
        }
        else
        {
            <h1>@Model.thirdPathName</h1>
        }
        <div class="line"></div>
        <p class="links">
            <a href="@LanguageService.AddLanguageToUrl("/")">@Localizer["Home"]</a>
            <span class="slash">/</span>
            @if (Model.thirdPathName == null)
            {
                <span>@Model.secondPathName</span>
            }
            else
            {
                <a href="@Model.secondPath">@Model.secondPathName</a>
                <span class="slash">/</span>
                <span>@Model.thirdPathName</span>
            }
        </p>
    </div>
</div>

