@using Newtonsoft.Json;
@{
    ViewBag.robots = "index,follow";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=3, user-scalable=yes'>
    <meta name="robots" content="@ViewBag.robots" />

    @RenderSection("Css", required: true)

</head>
<body>

    <header>header</header>
    view bag latout : @ViewBag.data;
    @RenderBody()
    view bag latout after body : @ViewBag.data;


    <footer>footer</footer>
    @RenderSection("Scripts", required: false)



</body>
</html>