<!doctype html>
<html ⚡>
<head>
    <title>@ViewBag.Title - Pestline Sdn Bhd</title>
    <meta charset="utf-8" />
    <meta name="viewport" content='width=device-width,minimum-scale=1'>
    <meta name="robots" content="index,follow" />
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title - Pestline Sdn Bhd">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" itemprop="image" content="@ViewBag.OgImage">
    <meta property="og:type" content="@ViewBag.OgType">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="alternate" hreflang="en" href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
    @RenderSection("canonical", required: true)

    @RenderSection("canonical", required: true)
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/images/favicon120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/images/favicon152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/Content/images/favicon167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/favicon180.png">
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.ampproject.org/v0.js" async></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    
    <partial name="~/Web/Shared/Amp/_customStyle.cshtml" /> 

</head>
<body>
    @{
        var controllerName = ViewContext.RouteData.Values["controller"].ToString();
        var urlTitle = "";
        if (ViewContext.RouteData.Values["urlTitle"] != null)
        {
            urlTitle = ViewContext.RouteData.Values["urlTitle"].ToString();
        }
        var servicesExpanded = "";
        if (controllerName == "Services")
        {
            servicesExpanded = "expanded";
        }

        var categoryExpanded = "";
        if (controllerName == "Category") {
            categoryExpanded = "expanded";
        }
    }

    <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
                "vars": {
                    "account": "UA-108631736-1"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                    }
                }
            }
        </script>
    </amp-analytics>

    <!-- fixSideNav -->
    <amp-sidebar id="fixSideNav"
                 layout="nodisplay"
                 side="left"
                 class="amp">

        <div class="wrap">
            <i on="tap:fixSideNav.close" tabindex="0" role="button" class="fa fa-times close sideToggle"></i>
            <div class="clearfix">
                <a href="/amp/" class="logo">
                    <amp-img alt="Pest Control Equipments Supplier, Products Manufacturer"
                             src="/content/images/logo.jpg"
                             width="424"
                             height="120"
                             layout="responsive">
                    </amp-img>
                </a>
            </div>

            <div id="mobileNav" class="navLists">
                <ul class="mainMenu">
                    <li class="@(@controllerName == "Home" ? "active" : "")">
                        <a href="/amp/">HOME</a>
                    </li>
                    <amp-accordion>
                        <!-- section equal li-->
                        <section class="@(@controllerName == "Services" ? "active" : "")" @servicesExpanded>
                            <h5 class="href caret">SERVICES</h5>
                            <div>
                                <ul class="subMenu">
                                    <li class="@(@urlTitle == "leading-pest-control-equipment" ? "active" : "")">
                                        <a href="/amp/services/leading-pest-control-equipment">Leading Pest Control Equipment</a>
                                    </li>
                                    <li class="@(@urlTitle == "insect-light-trap-manufacturing" ? "active" : "")">
                                        <a href="/amp/services/insect-light-trap-manufacturing">Insect Light Trap Manufacturing</a>
                                    </li>
                                    <li class="@(@urlTitle == "pest-glue-trap-manufacturing" ? "active" : "")">
                                        <a href="/amp/services/pest-glue-trap-manufacturing">Pest Glue Trap Manufacturing</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="@(@controllerName == "Category" || @controllerName == "Product"  ? "active" : "")" @categoryExpanded>
                            <h5 class="href caret">PRODUCTS</h5>
                            <div>
                                <ul class="subMenu">
                                    <li class="@(@urlTitle == "insect-light-trap" ? "active" : "")">
                                        <a href="/amp/category/insect-light-trap">Insect Light Trap</a>
                                    </li>
                                    <li class="@(@urlTitle == "application-equipment" ? "active" : "")">
                                        <a href="/amp/category/application-equipment">Application Equipment</a>
                                    </li>
                                    <li class="@(@urlTitle == "rat-control-products" ? "active" : "")">
                                        <a href="/amp/category/rat-control-products">RAT CONTROL PRODUCTS</a>
                                    </li>
                                    <li class="@(@urlTitle == "insect-light-trap-consumables" ? "active" : "")">
                                        <a href="/amp/category/insect-light-trap-consumables">Insect Light Trap Consumables</a>a
                                    </li>
                                    <li class="@(@urlTitle == "bird-control-products" ? "active" : "")">
                                        <a href="/amp/category/bird-control-products">BIRD CONTROL PRODUCTS</a>
                                    </li>
                                    <li class="@(@urlTitle == "cockroach-control-products" ? "active" : "")">
                                        <a href="/amp/category/cockroach-control-products">COCKROACH CONTROL PRODUCTS</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </amp-accordion>
                    <li class="@(@controllerName == "News" || @controllerName == "NewsDetail" ? "active" : "")">
                        <a href="/amp/news">NEWS</a>
                    </li>
                    <li class="@(@controllerName == "Gallery" ? "active" : "")">
                        <a href="/amp/gallery">GALLERY</a>
                    </li>
                    <li class="@(@controllerName == "About" ? "active" : "")">
                        <a href="/amp/about">ABOUT</a>
                    </li>
                    <li class="@(@controllerName == "Contact" ? "active" : "")">
                        <a href="/amp/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </amp-sidebar>   
    
    <!-- header -->
    <div class="header amp">
        <div class="container">
            <div class="wrap">
                <i on="tap:fixSideNav.open" tabindex="0" role="button" class="fa fa-bars sideNavButton sideToggle"></i>
                <a href="/amp">
                    <amp-img alt="Pest Control Equipments Supplier, Products Manufacturer"
                             src="/content/images/logo.jpg"
                             width="177"
                             height="50"
                             layout="flex-item">
                    </amp-img>
                </a>
                <div></div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- contactGuide -->
    <div class="contactGuide py3">
        <div class="container">
            <h5 class="center m0">
                <i class="fa fa-phone"></i>
                <span>&nbsp;</span>
                CALL US NOW
                <span>&nbsp;</span>
                <span class="nowrap">(+60) 16-726 3698</span>
            </h5>
            <ul>
                <li>
                    <a href="https://www.youtube.com/channel/UC2DOU8zS5h8YMGxxoCbZkig" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pestline.com.my" target="_blank">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div class="footer py2">
        <div class="container">
            <div class="sm-flex flex-wrap mxn3 py4">
                <div class="sm-col sm-col-6 lg-col lg-col-3 px3 py3">
                    <p class="h6 pb3">ABOUT US</p>
                    <div class="content mt3">
                        <p class="m0">
                            PESTLINE provides quality pest control products for our clients to meet different demands. Our technical/sales
                            staffs will design the appropriate control system for our prestigious clients. We valued clients
                            own self involvement in the process of designing the program so that maximum assurance being
                            given.
                        </p>
                    </div>
                </div>
                @*<div class="sm-col sm-col-6 lg-col lg-col-3 px3 py3">
                    <p class="h6 pb3">SITE LINKS</p>
                    <div class="content mt3">
                        <ul>
                            <li>
                                <a href="/amp/">Home</a>
                            </li>
                            <li>
                                <a href="/amp/services/leading-pest-control-equipment">Services</a>
                            </li>
                            <li>
                                <a href="/amp/category/insect-light-trap">Products</a>
                            </li>
                            <li>
                                <a href="/amp/news">News</a>
                            </li>
                            <li>
                                <a href="/amp/gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="/amp/about">About Us</a>
                            </li>
                            <li>
                                <a href="/amp/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>*@
                <div class="sm-col sm-col-6 lg-col lg-col-3 px3 py3">
                    <p class="h6 pb3">PRODUCT CATEGORIES</p>
                    <div class="content mt3">
                        <ul>
                            <li>
                                <a href="/amp/category/insect-light-trap">Insect Light Trap</a>
                            </li>
                            <li>
                                <a href="/amp/category/application-equipment">Application Equipment</a>
                            </li>
                            <li>
                                <a href="/amp/category/rat-control-products">Rat Control Products</a>
                            </li>
                            <li>
                                <a href="/amp/category/insect-light-trap-consumables">Insect Light Trap Consumables</a>
                            </li>
                            <li>
                                <a href="/amp/category/bird-control-products">Bird Control Products</a>
                            </li>
                            <li>
                                <a href="/amp/category/cockroach-control-products">Cockroach Control Products</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sm-col sm-col-6 lg-col lg-col-3 px3 py3">
                    <p class="h6 pb3">PESTLINE SDN BHD (Head Office)</p>
                    <div class="content mt3">
                        <div>
                            <span class="contactTitle">Address:</span>
                            <span class="contactContent">
                                8, Jalan Ekoperniagaan 1/16,
                                <br /> Taman Ekoperniagaan,
                                <br /> 81100 Johor Bahru,
                                <br /> Johor, Malaysia.
                            </span>

                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Phone:</span>
                            <span class="contactContent">+607-562 5151</span>
                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Fax:</span>
                            <span class="contactContent">+607-562 6119</span>
                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Email:</span>
                            <span class="contactContent">
                                <a class="googleAnalyticsTracking facebookPixelTracking" data-google-analytics-event="emailLink" data-facebook-pixel-event="Purchase" href="mailto:mic.wong@pestline.com.my"> mic.wong@pestline.com.my</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sm-col sm-col-6 lg-col lg-col-3 px3 py3">
                    <p class="h6 pb3">PESTLINE PTE LTD (Branch Office)</p>
                    <div class="content mt3">
                        <div>
                            <span class="contactTitle">Address:</span>
                            <span class="contactContent">
                                11 Yishun Industrial Street 1,
                                <br />#03–112, North Spring Bizhub,
                                <br />Singapore 768089
                                <span class="xs-hide sm-hide md-hide"><br />&nbsp;</span>
                            </span>

                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Phone:</span>
                            <span class="contactContent">+65-8181 6646</span>
                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Fax:</span>
                            <span class="contactContent">+65-6264 7886</span>
                        </div>
                        <div class="mt2">
                            <span class="contactTitle">Email:</span>
                            <span class="contactContent">
                                <a class="googleAnalyticsTracking facebookPixelTracking" data-google-analytics-event="emailLink" data-facebook-pixel-event="Purchase" href="mailto:renee@pestline.com.my"> renee@pestline.com.my</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix pt3 pb4">
                <div class="copyrightText">
                    PESTLINE © 2017 All Rights Reserved
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span>Powered by </span>
                    <a href="https://www.stooges.com.my">Stooges</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>



